<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.png" th:href="@{/img/favicon.png}"/>
    <title>Hungry Jack</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">

    <!-- Static navbar -->
	<div th:replace="/nav :: nav"> </div>
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        
        <tr th:each="order : ${customer.getCustomerOrderList()}">
        	
        	<!-- ORDERED -->
        	<div th:if="${order.getOrderStatus().getOrderStatus() == 'ordered'}">
        	
        	<h3 th:text="'Order Status for #' + ${order.getId()}"></h3>
        	<div class="tracking-progress-bar">
            <div class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active">Order Received</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">Ready for delivery</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">On the way</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">Food Delivered</div>
            <br/>
            <br/>

        	</div></div>
        	
        	<!-- orderPrepared -->
        	<div th:if="${order.getOrderStatus().getOrderStatus() == 'orderPrepared'}">
        	
        	<h3 th:text="'Order Status for #' + ${order.getId()}"></h3>
        	<div class="tracking-progress-bar">
            <div class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active">Order Received</div>

            <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
            <div class="tracking-progress-bar__item tracking-progress-bar__item--active">Ready for delivery</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">On the way</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">Food Delivered</div>
            <br/>
            <br/>

        	</div></div>
        	
        	<!-- orderEnroute -->
        	<div th:if="${order.getOrderStatus().getOrderStatus() == 'orderEnroute'}">
        	
        	<h3 th:text="'Order Status for #' + ${order.getId()}"></h3>
        	<div class="tracking-progress-bar">
            <div class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active">Order Received</div>

            <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
            <div class="tracking-progress-bar__item tracking-progress-bar__item--active">Ready for delivery</div>

            <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
            <div class="tracking-progress-bar__item tracking-progress-bar__item--active">On the way</div>

            <span class="tracking-progress-bar__item__bar"></span>
            <div class="tracking-progress-bar__item">Food Delivered</div>
            <br/>
            <br/>
            

        	</div></div>
        	
        	<div th:if="${order.getOrderStatus().getOrderStatus() != 'orderDelivered'}">
        	
        	<div th:if="${order.getOrderReviews().getRatings() != 0}">
        	    <h5 th:text="Review"></h5>
        		<p th:text="${order.getOrderReviews().getReview()}"></p>
        		<h5 th:text="Rating"></h5>
        		<p th:text="${order.getOrderReviews().getRatings()}"></p>
        	</div>
        	
        	<div th:if="${order.getOrderReviews().getReview() == null}">
        	
        	<form method="post" th:action="@{'/customer/orderReview/'+${order.getId()}}" th:object="${deliveryReviewForm}">
            <h4 th:text="'Rate and Review for Food' "></h4>
                <div class="form-group">
                    <label for="rating">Rating(1-low, 5-high)</label>
                    <select class="form-control" id="rating" th:field="*{ratings}">
                        <option th:value=1>1</option>
                        <option th:value=2>2</option>
                        <option th:value=3>3</option>
                        <option th:value=4>4</option>
                        <option th:value=5>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea class="form-control" id="review" rows="3" th:field="*{review}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Save</button>

            </form></div>
            
            <div th:if="${order.getDeliveryAgentReview().getReview() == null}">
            
            <form method="post" th:action="@{'/customer/deliveryDriverReview/'+${order.getId()}}" th:object="${deliveryReviewForm}">
                <h4 th:text="'Rate and Review Delivery Agent' "></h4>
                <div class="form-group">
                    <label for="delrating">Rating(1-low, 5-high)</label>
                    <select class="form-control" id="delrating" th:field="*{ratings}">
                        <option th:value=1>1</option>
                        <option th:value=2>2</option>
                        <option th:value=3>3</option>
                        <option th:value=4>4</option>
                        <option th:value=5>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delreview">Review</label>
                    <textarea class="form-control" id="delreview" rows="3" th:field="*{review}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Save</button>

            </form></div></div>
        	
		</tr>
        

        </div>
    </div>
<!--     <div class="jumbotron">
        <h3 th:text="'Given Reviews' "></h3>
    </div> -->
    <div class="jumbotron">
        <h3 th:text="'Order History' "></h3>
        
                <tr th:each="order : ${customer.getCustomerOrderList()}">
        	
        	<!-- orderDelivered -->
        	<div th:if="${order.getOrderStatus().getOrderStatus() == 'orderDelivered'}">
        	
        	<h3 th:text="'Order Status for #' + ${order.getId()}"></h3>
        	<h5 th:text="'Ordered on ' + ${order.getOrderStatus().getOrderedAt()}"></h5>
        	<h5 th:text="'Recieved on ' + ${order.getOrderStatus().getDeliveredAt()}"></h5>


        	
         	<div th:if="${order.getOrderReviews().getRatings() != 0}">
        	    <h5 th:text="Review"></h5>
        		<p th:text="${order.getOrderReviews().getReview()}"></p>
        		<h5 th:text="Rating"></h5>
        		<p th:text="${order.getOrderReviews().getRatings()}"></p>
        	</div>
        	
        	
        	<div th:if="${order.getOrderReviews().getReview() == null}">
        	
        	<form method="post" th:action="@{'/customer/orderReview/'+${order.getId()}}" th:object="${deliveryReviewForm}">
            <h4 th:text="'Rate and Review for Food' "></h4>
                <div class="form-group">
                    <label for="rating">Rating(1-low, 5-high)</label>
                    <select class="form-control" id="rating" th:field="*{ratings}">
                        <option th:value=1>1</option>
                        <option th:value=2>2</option>
                        <option th:value=3>3</option>
                        <option th:value=4>4</option>
                        <option th:value=5>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea class="form-control" id="review" rows="3" th:field="*{review}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Save</button>

            </form></div>
            
            <div th:if="${order.getDeliveryAgentReview().getReview() == null}">
            
            <form method="post" th:action="@{'/customer/deliveryDriverReview/'+${order.getId()}}" th:object="${deliveryReviewForm}">
                <h4 th:text="'Rate and Review Delivery Agent' "></h4>
                <div class="form-group">
                    <label for="delrating">Rating(1-low, 5-high)</label>
                    <select class="form-control" id="delrating" th:field="*{ratings}">
                        <option th:value=1>1</option>
                        <option th:value=2>2</option>
                        <option th:value=3>3</option>
                        <option th:value=4>4</option>
                        <option th:value=5>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delreview">Review</label>
                    <textarea class="form-control" id="delreview" rows="3" th:field="*{review}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Save</button>

            </form></div></div>
        	
		</tr>
        
        
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../public/js/hungryjack-scripts.js" th:src="@{/js/hungryjack-scripts.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>